/2014-2015/Stats/BRCA2.txt
/2014-2015/Stats/Lesson-2-concordance.tex
/2014-2015/Stats/Lesson-2.Rnw.pdf
/2014-2015/Stats/Lesson-2.Rnw.synctex.gz
/2014-2015/Stats/Lesson-2.Rnw~
/2014-2015/Stats/Lesson-2.aux
/2014-2015/Stats/Lesson-2.log
/2014-2015/Stats/Lesson-2.out
/2014-2015/Stats/Lesson-2.pdf
/2014-2015/Stats/Lesson-2.synctex.gz
/2014-2015/Stats/Lesson-2.tex
/2014-2015/Stats/Lesson-2.toc
/2014-2015/Stats/MYC.txt
/2014-2015/Stats/P53.txt
/2014-2015/Stats/auto/
/2014-2015/Stats/figure/
/2014-2015/IntroPresentation/Intro-presentation.aux
/2014-2015/IntroPresentation/Intro-presentation.log
/2014-2015/IntroPresentation/Intro-presentation.nav
/2014-2015/IntroPresentation/Intro-presentation.out
/2014-2015/IntroPresentation/Intro-presentation.pdf
/2014-2015/IntroPresentation/Intro-presentation.snm
/2014-2015/IntroPresentation/Intro-presentation.synctex.gz
/2014-2015/IntroPresentation/Intro-presentation.tex~
/2014-2015/IntroPresentation/Intro-presentation.toc
/2014-2015/IntroPresentation/auto/
/2014-2015/IntroPresentation/gitHeadInfo.gin
/2014-2015/Stats/gitHeadInfo.gin
/2014-2015/Stats/Lesson-3.Rnw~
