/2014-2015/Stats/BRCA2.txt
/2014-2015/Stats/Lesson-2-concordance.tex
/2014-2015/Stats/Lesson-2.Rnw.pdf
/2014-2015/Stats/Lesson-2.Rnw.synctex.gz
/2014-2015/Stats/Lesson-2.Rnw~
/2014-2015/Stats/Lesson-2.aux
/2014-2015/Stats/Lesson-2.log
/2014-2015/Stats/Lesson-2.out
/2014-2015/Stats/Lesson-2.pdf
/2014-2015/Stats/Lesson-2.synctex.gz
/2014-2015/Stats/Lesson-2.tex
/2014-2015/Stats/Lesson-2.toc
/2014-2015/Stats/MYC.txt
/2014-2015/Stats/P53.txt
/2014-2015/Stats/auto/
/2014-2015/Stats/figure/
/2014-2015/IntroPresentation/Intro-presentation.aux
/2014-2015/IntroPresentation/Intro-presentation.log
/2014-2015/IntroPresentation/Intro-presentation.nav
/2014-2015/IntroPresentation/Intro-presentation.out
/2014-2015/IntroPresentation/Intro-presentation.pdf
/2014-2015/IntroPresentation/Intro-presentation.snm
/2014-2015/IntroPresentation/Intro-presentation.synctex.gz
/2014-2015/IntroPresentation/Intro-presentation.tex~
/2014-2015/IntroPresentation/Intro-presentation.toc
/2014-2015/IntroPresentation/auto/
/2014-2015/IntroPresentation/gitHeadInfo.gin
/2014-2015/Stats/gitHeadInfo.gin
/2014-2015/Stats/Lesson-3.Rnw~
/2014-2015/Stats/Lesson-3-concordance.tex
/2014-2015/Stats/Lesson-3.Rnw.pdf
/2014-2015/Stats/Lesson-3.Rnw.synctex.gz
/2014-2015/Stats/Lesson-3.aux
/2014-2015/Stats/Lesson-3.log
/2014-2015/Stats/Lesson-3.out
/2014-2015/Stats/Lesson-3.pdf
/2014-2015/Stats/Lesson-3.synctex.gz
/2014-2015/Stats/Lesson-3.toc
/2014-2015/Stats/MIT.txt
/2014-2015/Stats/Lesson-3.tex
/2014-2015/Stats/Chol.txt
/2014-2015/Stats/Cholesterol.txt
/2014-2015/Stats/RGLGraph.png
/2014-2015/Stats/_region_.tex
/.Rhistory
/2014-2015/Stats/CystFibr2.txt
/2014-2015/Stats/Lesson-3.R
/2014-2015/Stats/anage_data.txt
/2014-2015/Stats/Lesson-2-files.zip
/2014-2015/Stats/Lesson-2-files/
/2014-2015/Stats/Lesson-2.zip
/2014-2015/Stats/Lesson-3-files.zip
/2014-2015/Stats/Lesson-3-files/
/2014-2015/Stats/Lesson-3.zip
/2014-2015/Stats/RcmdrPlugin.doBy_files/RcmdrPlugin.doBy/DESCRIPTION~
/2014-2015/Stats/RcmdrPlugin.doBy_files/RcmdrPlugin.doBy_0.1-3.tar.gz
/2014-2015/Stats/RcmdrPlugin.doBy_files/RcmdrPlugin.doBy_0.1-4.tar.gz
/2014-2015/Stats/create-lesson-2-3.sh~
/2014-2015/Stats/create-lesson-2.sh~
/2014-2015/Stats/.#Lesson-3.Rnw
/2014-2015/Stats/.Rhistory
/2014-2015/Stats/texput.log
/2014-2015/#BM1-software-applied-stats.txt#
/2014-2015/.#BM1-software-applied-stats.txt
/2014-2015/BM1-software-applied-stats.txt~
/2014-2015/BM1-software-provisional-note.txt~
/2014-2015/IntroPresentation/First-day-presentation.aux
/2014-2015/IntroPresentation/First-day-presentation.log
/2014-2015/IntroPresentation/First-day-presentation.nav
/2014-2015/IntroPresentation/First-day-presentation.out
/2014-2015/IntroPresentation/First-day-presentation.pdf
/2014-2015/IntroPresentation/First-day-presentation.snm
/2014-2015/IntroPresentation/First-day-presentation.synctex.gz
/2014-2015/IntroPresentation/First-day-presentation.tex~
/2014-2015/IntroPresentation/First-day-presentation.toc
/2014-2015/IntroPresentation/First-day-BM1.pdf
/2014-2015/IntroPresentation/first-day-BM1.pdf
/2014-2015/IntroPresentation/first-day-bm1.pdf
/2014-2015/Stats/RcmdrPlugin.doBy_files/RcmdrPlugin.doBy.Rcheck/
/2014-2015/Stats/RcmdrPlugin.doBy_files/RcmdrPlugin.doBy/R/RcmdrPlugin.doBy.R~
